// COMPASS
@import "compass";
// FONT
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");

// CONFIG
$2rem_XS: 0.5rem;
$2rem_SM: 0.75rem;
$2rem: 1rem;
2rem: 1.5rem;
$2rem: 2rem;
3px: 3px;
600px: 600px;
75px: 75px;
26px: 26px;
100px: 100px;
#392A60: #392A60;
#2E1F47: #2E1F47;
#F3597D: #F3597D;

// // BASE
// html {
//   font-size: 13px;
//   font-family: "Roboto Slab", serif;
//   font-weight: 400;
//   line-height: 13px;
//   -webkit-font-smoothing: auto;
//   text-rendering: optimizeLegibility;
//   color: #fff;
//   overflow: hidden;
// }

// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background:#2E1F47;
//   letter-spacing: 0.6px;

// }

// p {
//   font-size: 13px;
//   margin: 0 0 11px;
// }

// a {
//   color: #fff;
//   text-decoration: none;
// }

// header {
//   text-align: center;
//   margin-bottom: 1rem;
//   h1 {
//     font-size: 1.8rem;
//     line-height: 2.1rem;
//   }
//   p {
//     margin-top: 1.5rem;
//   }
//   .icon {
//     color: #fff; 
//   }
// }

// THE GOOD STUFF
.progressContainer {
  position: relative;
  width: 300px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem;
  color: #fff;
  background: #392A60;
  @include box-shadow(0 0 15px rgba(0, 0, 0, 0.3));
}

.progress {
  position: relative;
  padding: 0 1rem 0 3.5rem;
  margin: 1rem 0 0;
  list-style: none;
}

.progress__item {
  position: relative;
  min-height: 75px;
  counter-increment: list;
  padding-left: 2rem;
  &:before {
    content: "";
    position: absolute;
    left: -1.5rem;
    top: 33px;
    height: 60%;
    width: 1px;
    border-left: 1px solid #fff;
  }
  &:after {
    content: counter(list);
    position: absolute;
    top: 0;
    left: -2.5rem;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #fff;
  }
  //Hide border for Last Step
  &:last-child {
    &:before {
      border: none;
    }
  }
  //Completed
  &.progress__item--completed {
    opacity: 0.6;
    color: #fff;
    &:after {
      content: "\2713";
      font-weight: 400;
      background: #fff;
      color: #392A60;
    }
  }
  //Active
  &.progress__item--active {
    &:after {
      background: #fff;
      color: #392A60;
    }
  }
}

.progress__title {
  padding: 0.4rem 0 $2rem;
  margin: 0;
  font-size: 1.5rem;
}

.progress__info {
  font-size: 13px;
}
